// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue-100: #82b1eb;
$blue-200: #5a8bc7;
$blue-300: #4070aa;
$blue-400: #2d598f;
$blue-500: #234d81;
$blue-600: #193e6b;
$blue-700: #12335c;
$blue-800: #092446;
$blue-900: #031a36;

$primary: #002E66 !default;
$secondary: #e77a30e8 !default;

$bg-mobile-fallback: '../img/bg-mobile-fallback.jpg' !default;
